* {
	border: 0;
	margin: 0;
	padding: 0;
}

header, section, article, footer, nav, aside { 
	display: block; 
}

.hide {
	display: none;
}

.invisible {
	visibility: hidden;
}

.show {
	display: block;
}

.visible {
	visibility: visible;
}

.cartBig a,
.cartSmall a {
	background-color: #b73d3d;
	/*border: 1px solid #cd5151;*/
	border-radius: 10px;
	color: white;
	display: block;
	letter-spacing: 0.1em;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0.1em;
	padding: 10px;
	/*text-align: center;*/
	text-shadow: black 0.1em 0.1em 0.4em;
	text-transform: uppercase;
	vertical-align: middle;

	transition: background-color .3s;

	/* others */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-transition: background-color .3s;
	-moz-transition: background-color .3s;
	-o-transition: background-color .3s;
	-ms-transition: background-color .3s;
}

.cartBig a {
	box-shadow: 1px 1px 5px 1px #808080;
	height: 25px;
	width: 160px;
}

.cartSmall a{
	box-shadow: 1px 1px 5px 1px #101010;
	font-size: 12px;
	height: 20px;
	width: 133px;
}

.cartBig a:hover,
.cartSmall a:hover {
	background-color: #8c0f0f;
}

.cartBig img,
.cartSmall img {
	margin-top: -4px;
	margin-right: 5px;
	vertical-align: middle;
}

.cartSmall img {
	height: 25px;
	width: 25px;
}



a {
	text-decoration: none;
}

body {
	background-color: #0E0E0E;
	color: white;
	/*font-family: 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;*/
	font-family: 'Montserrat', serif;
	font-size: 13px;
}

header {
	font-family: 'Convergence', sans-serif;
	/*margin: auto;
	max-width: 1000px;*/
}

header .headContent {
	margin: auto;
	max-width: 1000px;

	box-shadow: 0 0 10px #1e1e1e;

	/* other */
	-webkit-box-shadow: 0 0 10px #1e1e1e;
	-moz-box-shadow: 0 0 10px #1e1e1e;
	-ms-box-shadow: 0 0 10px #1e1e1e;
	-o-box-shadow: 0 0 10px #1e1e1e;
}

header h1 {
	background-color: #2e9b36;
	box-shadow: 5px 5px 10px 0px black;
	display: block;
	font-family: 'Montserrat', sans-serif;
	float: left;
	font-size: 24px;
	font-weight: bold;
	/*left: 17%;*/
	/*letter-spacing: 0.1em;*/
	padding: 30px 10px 25px 10px;
	text-align: center;
	text-shadow: 0px 0px 5px #6e6e6e;
	width: 205px;
	word-spacing: 0.4em;

	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 12px;
	-webkit-border-bottom-left-radius: 0;

	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 12px;
	-moz-border-radius-bottomleft: 0;

	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 0;

	background-image: linear-gradient(bottom, #237A28 13%, #2E9B35 75%);
	background-image: -o-linear-gradient(bottom, #237A28 13%, #2E9B35 75%);
	background-image: -moz-linear-gradient(bottom, #237A28 13%, #2E9B35 75%);
	background-image: -webkit-linear-gradient(bottom, #237A28 13%, #2E9B35 75%);
	background-image: -ms-linear-gradient(bottom, #237A28 13%, #2E9B35 75%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.13, #237A28),
		color-stop(0.75, #2E9B35)
	);
}

header .menu {
	background-color: #2d2d2d;
	clear: none;
}

header .menu ul {
	font-size: 0;
	text-align: right;
}

header .menu li {
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0.1em;
	margin-left: 1px;
	text-align: center;
	text-shadow: black 0.1em 0.1em 0.1em;
	text-transform: uppercase;
	vertical-align: top;
}

header .menu a {
	display: block;
	height: 46px;
	line-height: 46px;
	width: 142px;
}

header .menu .select {
	background-color: #1e1e1e;
	color: white;
}

header .menu .unselect {
	background-color: #525252;
	color: white;
	opacity: 0.5;

	transition: opacity .4s;

	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

	/* others */
	-webkit-transition: opacity .4s;
	-moz-transition: opacity .4s;
	-o-transition: opacity .4s;
	-ms-transition: opacity .4s;
}

header .menu .cart {
	/*background-color: #626262;*/
	opacity: 1;

	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

header .menu .cart span {
	opacity: 0.6;

	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

header .menu .cart img {
	height: 25px;
	margin-top: -0.5em;
	margin-right: 6px;
	vertical-align: middle;
	width: 25px;
}

header .menu .unselect:hover,
header .menu .cart:hover span {
	opacity: 1;

	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

header .menu .cart #cartNumber {
	background-color: #b73d3d;
	border-radius: 3px;
	color: white;
	height: 15px;
	font-size: 10px;
	left: 35px;
	line-height: 17px;
	position: relative;
	top: -40px;
	width: 16px;

	/*opacity:0.9;

	filter:alpha(opacity=90);*/

	/* others */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

header .info {
	background-color: #2e9b36;
}

header .info ul {
	font-size: 0;
	text-align: right;
}

header .info li {
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 0.1em;
	margin-left: 1px;
	text-align: center;
	text-shadow: black 0.1em 0.1em 0.1em;
	text-transform: uppercase;
	vertical-align: top;
}

header .info a {
	color: #eee;
	display: block;
	height: 27px;
	line-height: 27px;
	width: 142px;

	transition: background-color .4s;

	/* others */
	-webkit-transition: background-color .4s;
	-moz-transition: background-color .4s;
	-o-transition: background-color .4s;
	-ms-transition: background-color .4s;
}

header .info a:hover {
	background-color: #1b7b22;

	/*background-image: linear-gradient(bottom, #218f28 27%, #1b7b22 64%);
	background-image: -o-linear-gradient(bottom, #218f28 27%, #1b7b22 64%);
	background-image: -moz-linear-gradient(bottom, #218f28 27%, #1b7b22 64%);
	background-image: -webkit-linear-gradient(bottom, #218f28 27%, #1b7b22 64%);
	background-image: -ms-linear-gradient(bottom, #218f28 27%, #1b7b22 64%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.27, #218f28),
		color-stop(0.64, #1b7b22)
	);*/
}

header .info .select {
	background-color: #1b7b22;
}


#wrapper {
	background-image: url('../images/bg.gif');
	background-color: #101010;
}

#content {
	background-color: #181818;
	color: #a4a4a4;
	font-size: 12px;
	margin: auto;
	max-width: 1000px;
	padding: 15px 0;

	box-shadow: 0 0 10px #1e1e1e;

	/* other */
	-webkit-box-shadow: 0 0 10px #1e1e1e;
	-moz-box-shadow: 0 0 10px #1e1e1e;
	-ms-box-shadow: 0 0 10px #1e1e1e;
	-o-box-shadow: 0 0 10px #1e1e1e;
}

#welcomeMessage {
	font-family: 'Convergence', sans-serif;
	font-style: italic;
	letter-spacing: 0.1em;
	margin-right: 80px;
	text-align: right;
}

#banner {
	padding: 15px 60px;
}

#banner article {
	box-shadow: 2px 2px 20px black;
	clear: both;
	color: #323232;
	padding: 20px;
	position: relative;

	background-image: linear-gradient(right bottom, #FFFFFF 29%, #58bf5f 100%);
	background-image: -o-linear-gradient(right bottom, #FFFFFF 29%, #58bf5f 100%);
	background-image: -moz-linear-gradient(right bottom, #FFFFFF 29%, #58bf5f 100%);
	background-image: -webkit-linear-gradient(right bottom, #FFFFFF 29%, #58bf5f 100%);
	background-image: -ms-linear-gradient(right bottom, #FFFFFF 29%, #58bf5f 100%);

	background-image: -webkit-gradient(
		linear,
		right bottom,
		left top,
		color-stop(0.29, #FFFFFF),
		color-stop(1, #58bf5f)
	);
}

#banner article a {
	color: #424242;
}

#banner article a:hover {
	color: #101010;
}

#banner article img {
	display: inline-block;
	margin-left: 10%;
	max-height: 300px;
}

#banner article .banner-description {
	display: inline-block;
	margin-left: 13%;
	margin-top: 30px;
	vertical-align: top;
}

#banner article .banner-description h3 {
	font-size: 30px;
	margin-bottom: 30px;
}

#banner article .banner-description ul {
	list-style: none;
	margin-left: 40px;
}

#banner article .banner-description li {
	font-size: 20px;
	margin-bottom: 20px;
}

#banner article .banner-description li .price {
	/*font-weight: bold;*/
	color: #424242;
}

#banner article #addCart {
	left: 68%;
	margin: 20px;
	position: absolute;
	top: 73%;
}

#banner article #addCart a {
	color: white;
}


.init-list {
	clear: both;
	font-size: 0px;
	padding: 20px;
	text-align: center;
}

.init-list h2 {
	background-color: #101010;
	display: block;
	font-size: 19px;
	letter-spacing: 0.05em;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
	text-shadow: 2px 2px 10px black;
	width: 200px;
}

.init-list article {
	display: inline-block;
	font-size: 13px;
	letter-spacing: 0.1em;
	margin: 0 15px 50px 15px;
	text-align: center;
	width: 200px;
}

.init-list article img {
	max-height: 200px;
	max-width: 200px;
}

.init-list article a {
	color: #919191;
}

.init-list article span,  .init-list article li {
	display: block;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 7px;
	text-transform: uppercase;
}

.init-list article .price {
	margin-top: 11px;
	margin-bottom: 0px;
	font-weight: normal;
}

.init-list article .details {
	margin: 0px;
	font-size: 0.9em;
	font-weight: normal;
	text-transform: none;
}

.init-list article a:hover {
	color: white;
}

.init-list .others {
	display: block;
	font-size: 13px;
	letter-spacing: 0.1em;
	margin-left: 60px;
	text-align: left;
	width: 400px;
}

.init-list .others h4 {
	font-size: 1em;
	text-transform: uppercase;
}

.init-list .others ul {
	margin: 1.5em 1em;
}

.init-list .others li {
	display: list-item;
	font-size: 0.9em;
	list-style: disc;
	margin-left: 15px;
	text-transform: none;
}

.init-list #addCart {
	margin: 17px 20px 0 20px;
}

.init-list #addCart a {
	color: white;
}


#foot-separator {
	border-top: 10px solid #0A0A0A;
}

footer {
	background-color: #0E0E0E;
	/*border-top: 2px solid #181818;*/
	border-top: 1px solid #181818;
	color: #5A5A5A;
	font-family: 'Convergence', sans-serif;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

footer a {
	color: #5A5A5A;
}

footer a:hover {
	color: white;
}

footer #social ul {
	font-size: 0;
}

footer #social li {
	border: 1px solid #292929;
	border-radius: 10px;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0.1em;
	margin: 20px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;

	transition: background-color .5s;

	/* others */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-transition: background-color .5s;
	-moz-transition: background-color .5s;
	-o-transition: background-color .5s;
	-ms-transition: background-color .5s;
}

footer #social a {
	color: white;
	display: block;
	height: 60px;
	line-height: 60px;
	opacity: 0.3;
	width: 146px;

	transition: background-color .5s;

	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";

	/* others */
	-webkit-transition: background-color .5s;
	-moz-transition: background-color .5s;
	-o-transition: background-color .5s;
	-ms-transition: background-color .5s;
}

footer #social a:hover {
	opacity: 1;

	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

footer #social li:hover{
	background-color: #525252;
}

footer #social img {
	margin-top: -9px;
	margin-right: 5px;
	vertical-align: middle;
}

footer #credits {
	border-top: 1px solid #292929;
	font-size: 11px;
	margin-top: 20px;
	padding-top: 20px;
	text-align: center;
}

footer #credits a {
	color: #7a7a7a;
}

footer #credits a:hover {
	color: white;
}


@media screen and (max-width: 990px) {
	#banner article {
		text-align: left;
	}

	#banner article img {
		max-height: 250px;
	}

	#banner article .banner-description {
		margin-left: 20px;
	}

	#banner article .banner-description h3 {
		font-size: 28px;
	}

	#banner article .banner-description ul {
		margin-left: 20px;
	}

	#banner article .banner-description li {
		font-size: 16px;
	}

	#banner article #addCart {
		display: block;
		position: absolute;
	}
}

@media screen and (max-width: 799px) {
	#banner article {
		text-align: center;
	}

	#banner article .banner-description ul {
		margin-left: 0;
	}

	#banner article #addCart {
		display: inline-block;
		position: static;
	}
}
